.animationCont {
  max-width: 350px;
}

@font-face {
  font-family: "krams";
  src: url("../fonts/Krams.ttf");
}

.mainCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.optionsCont {
  display: grid;
  grid-template-columns: 30% 39% 25%;
  gap: 2%;
}

.uploadCont {
  max-width: 100%;
}

#formFileLg {
  opacity: 0;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  z-index: 10;
  top: 0;
  left: 0;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-header {
  font-size: 20px;
  font-weight: 600;
}

.mb-3{
    margin-bottom: 0 !important;
    display: contents;
}

.getButton{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.gridCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: violet;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 200px;
  border: 3px solid black;
  border-radius: 20px;
}

.input-wrapper {
  max-width: 400px;
}

.sourceCont {
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  gap: 5px;
  /* width: fit-content; */
  width: 80%;
  min-width: 335px;
}

.backSourceCont {
  background-color: rgb(205, 117, 9);
  margin-bottom: 7px;
  border-radius: 30px;
  padding: 5px;
}

.panda {
  width: 10%;
  background-color: #ff8b13;
  border-radius: 50%;
}

.box-image {
  height: 300px;
  display: flex;
}

.card {
  border: 5px solid rgb(255, 162, 2);
  border-radius: 20px;
}



.buttonCont {
  display: flex;
  margin: 20px;
  justify-content: center;
  zoom: 1.5;
}

.Home {
  display: flex;
  flex-direction: initial !important;
  display: initial;
}

.titleCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  /* font-size: 110px; */
  font-size: calc(50px + 5vmin);
  margin: -5px;
  font-family: Krams;
}

.list-group-item {
  justify-content: center;
  display: flex;
}

.titleText {
  background-color: rgb(250, 151, 30);
  border: 5px solid rgb(255, 162, 2);
  padding: 20px;
  border-radius: 20px;
}
