.titleText{
    font-family: 'krams';
}

.trophyWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.statsTitle{
    flex-direction: row;
    display: flex;
    align-items: center;
    /* font-size: 4vw; */
    font-size: 3rem;
    gap: 20px
}

.statsCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.titleAwards h3{
    /* font-size: 4vw; */
    font-size: 3rem;
}

@media screen and (max-width: 500px) {
    .statsTitle{
        font-size: 9vw;
    }
    .titleAwards h3{
        font-size: 9vw;
    }
}