

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FF8B13;
}


input[type="text"]{
  border-radius: 10px !important;
}

.navLogo{
  width: 100px;
  height: 10px;
  padding: 0px;
  z-index: 100;
  position: relative;
}

textarea{
  height: 200px;
  width: 100%;
}

.search{
  display: flex;
  flex-direction: row;
  background-color: #FF8B13;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  border: solid;
  border-width: 5px;
  border-color: orange;
  margin: 15px;
  margin-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 20px;
  /* display: grid;
  grid-template-columns: 2.3fr 1fr 1fr; */
  flex-wrap: wrap;
}

.searchcontainer{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* margin: 0; */
  height: auto;
  flex-direction: column;
  background-color: white;
  width: -webkit-fill-available;
  padding: 20px;
}

.infobox{
  display: flex;
  flex-direction: row;
}

.infobox .box{
  width: 50%;
}

.box {
  /* box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75); */
  min-height: 20rem;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  border: solid;
  border-width: 5px;
  border-color: orange;
}

.searchbox{
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  align-items: center;
  /* margin: 0; */
}

.button{
  height: fit-content;
}

h1 {
  margin-left: 20px;
}

button {
  float: right;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}